<h2>Are you a betting person?</h2>

<form action="/bet/yes" method='get'>
<input type="submit" class="btn-large" value="Yes" />
</form>

<form action="/bet/no" method='get'>
<input type="submit" class="btn-large" value="No" />
</form>